@model StudentManager.Models.Student

<h2>Student Details</h2>

<div>
    <label>Id</label>
    <input value="@Model.Id" readonly />
</div>

<div>
    <label>Name</label>
    <input value="@Model.Name" readonly />
</div>

<div>
    <label>Age</label>
    <input value="@Model.Age" readonly />
</div>

<div>
    <label>Email</label>
    <input value="@Model.Email" readonly />
</div>

<div>
    <a href="/Students/Index">Back</a>
</div>