@model IEnumerable<StudentManager.Models.Student>

<h2>Students</h2>

<div>
    <a href="/Students/Create">Create New</a>
</div>

@foreach (var student in Model)
{
    <div>
        <label>Id:</label> @student.Id
    </div>

    <div>
        <label>Name:</label> @student.Name
    </div>

    <div>
        <label>Age:</label> @student.Age
    </div>

    <div>
        <label>Email:</label> @student.Email
    </div>

    <div>
        <a href="/Students/Edit/@student.Id">Edit</a>
        <a href="/Students/Details/@student.Id">Details</a>
        <a href="/Students/Delete/@student.Id">Delete</a>
    </div>

    <hr/>
}